html, body {
  height: 100%;
  margin: 0;
}

.box {
  height: 100%;
}

.r-mar {
  margin-right: 0.5em;
}

.r-mar-5 {
  margin-right: 5px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  .level {
      &:first-of-type {
        margin-top: 10px;
      }
  }
}

.center-mobile {
  @media screen and (max-width: 768px) {
    text-align: center;  
  }
}