.ReactModal__Content {
  @media screen and (min-width: 776px) {
    margin: 0 25% !important;
  }
  h1 {
    margin-top: 20px;
  }
}

.close-thin {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.close-thin:after {
  content: 'X';
}