.active-letter {
  border-color: #b5b5b5;
  color: #363636;
}

nav {
  &.pagination {
    margin-bottom: 2em;
  }
}

button {
  &.pagination {
    &-previous, &-next {
      &:focus {
        border-color: #dbdbdb;
      }
      color: #00d1b2;
      cursor: pointer;
    }
  }
}